<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Galaxy Automation Suite" verbose="1" parallel="false">

    <!-- Authentication related tests -->
    <test name="Authentication Suite">
        <classes>
            <class name="TestCases.LoginTest"/>
        </classes>
    </test>

    <!-- Settlement Report related tests -->
    <test name="Reporting Suite">
        <classes>
            <!-- <class name="TestCases.SettlementReportTest"/> -->
        </classes>
    </test>

</suite>
