<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Critical Suite" verbose="1" parallel="false">
    <test name="Critical Tests">
        <classes>
            <class name="TestCases.LoginTest"/>
            <class name="TestCases.SettlementReportTest"/>
        </classes>
    </test>
</suite>
